.options {
    display:inline-block;
    /* background:rgba(255,255,255,0.5); */
    border: 1px solid rgba(100,100,100,0.1);
    padding: 1px;
    margin: 1px;
    position: relative;
    vertical-align: middle;
}
.menu {
    position:absolute;
    border: 1px solid gray;
    background-color: white;
    padding: 1em;
    padding-top:0;
    z-index:1;
    top:0;/*Not sure about this, I think it will work better on small screens.*/
}
.selection + .btn-group > .btn {
    height: 1px;
    /* hack to get rid of the text */
    text-indent: -3000px;
}
.btn-group {
    min-width:5em;
}
.btn-group > .btn {
    display: inline;
    width: 70%;
}
.btn-group > .dropdown-toggle{
    width: 30%;
}
.group > .btn {
    display:inline;
}
.symbol {
    /*
    margin: 1em;
    margin-left:auto;
    margin-right:auto;
    */
    text-align:center;
}
li{
    white-space: nowrap;
}
li > * {
    vertical-align:middle;
    display:inline-block;
}
.dropdown-menu{
    min-width:100%;
}
.close{
    float:left;/*so it's close to the open button*/
}
.menu-header > .label {
    float:right;
}
.menu > h5 {
    clear:both;
}
.option-button {
    margin-right: 1em;
    /*
    border-radius: 100%;
    
    font-size:2em;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    */
}
/*
.selectable .ui-selecting { color: #F39814 }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable {
    list-style-type: none;
    margin: 0;
    margin-right: 1em;
    padding: 0;
}
.selectable li {
    font-size:2em;
    cursor: pointer;
    /*prevent highlighting*/
}
*/